{% extends 'core/base.html' %}
{% load static %}

{% block static %}
{% endblock %}

{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="x_panel">
      <div class="x_title form-inline">
        <h2>Actualizar estado del permiso <small>aprobar o rechazar estado de la solicitud</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form method="POST" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

          {% csrf_token %}

          <!--información asociada a la solicitud-->

          {{ object.titulo }}
          <br>
          {{ object.comentario }}
          <br>
          {{ object.tipo_permiso }}
          <br>
          {{ object.fecha_inicio }}
          <br>
          {{ object.dias_permiso }}
          <br>
          {{ object.img_referencia }}


          <!--Caja de texto de estado de solicitud-->
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Estado de la solicitud <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ form.estado_solicitud }}
            </div>
          </div>

          <div class="ln_solid"></div>

          <!-- botones de control -->
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-md-3">
              <a href="{% url 'SolicitudPermisosList' %}" class="btn btn-primary">Cancelar</a>
              <input type="submit" class="btn btn-success" value="Actualizar" />
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}