{% extends 'core/base.html' %}
{% load static %}


{% block static %}

{% endblock %}

{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="x_panel">

      <!--Encabezado del formulario-->  
      <div class="x_title form-inline">
        <h2>Horario generado <small>Detalle de los turnos generados</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
          {{ detail.cargo.titulo }}
          {{ detail.cantidad }}
        {% for user in usuario %}
          <h2>Usuario seleccionado aleatoriamente: <b>{{ user.get_full_name }}</b></h2>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}