{% extends 'core/base.html' %}
{% load static %}
{% block static %}
    <!-- FullCalendar -->
    <link href="{% static 'vendors/fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/fullcalendar/dist/fullcalendar.print.css' %}" rel="stylesheet" media="print">
    <!-- My Custom Theme Style -->
    <link href="{% static 'build/css/my_css.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Inicio{% endblock %}
{% block content %}

<!-- page content -->
  <!-- Horario con los turnos -->
  <div class="col-12 ">
    <div class="x_panel">
      <div class="x_title form-inline">
        <div class="mr-auto">
          {% if previous_month %}
            <a class="btn btn-outline-primary" href="{% url 'myTimeTable' previous_month|date:'Y' previous_month|date:'m' %}">{{previous_month|date:"F"}}</a>  
          {% endif %}
        </div>
          <h2>Mi Horario</h2>
        <div class="ml-auto">
          {% if next_month %}
            <a class="btn btn-outline-primary ml-auto" href="{% url 'myTimeTable' next_month|date:'Y' next_month|date:'m' %}">{{ next_month|date:"F" }}</a>  
          {% endif %}
        </div>
         <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <div class="table-responsive" >
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Dia Semana</th>
                <th>Hora inicio</th>
                <th>Hora de fin</th>
              </tr>
            </thead>
            <tbody >
              {% now 'd F Y' as current_date %}
              {% for dia in object_list %}
              <tr class="{% if dia.trabajado != 6 %}bg-success
              {% elif current_date == dia.dia_semana|date:'d F Y' %}bg-secondary{% endif %}"{% if dia.trabajado != 6 %}data-toggle="tooltip" data-placement="top" title="Permiso aprobado"{% endif %}>
                <th scope="row">{{dia.dia_semana|date:'l d F Y'}}</th>
                <td>{% if dia.hora_inicio %}
                {{ dia.hora_inicio }}
                {% else %}Libre{% endif %}
                </td>
                <td>{% if dia.hora_fin %}
                {{ dia.hora_fin }}
                {% else %}Libre{% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- /Horario con los turnos -->
{% endblock %}

{% block script %}
    <!-- FullCalendar -->
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/fullcalendar/dist/fullcalendar.min.js' %}"></script>
{% endblock %}