{% extends 'core/base.html' %}
{% load static %}
{% block static %}
	<link href="{% static 'vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
}
{% endblock %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 ">
		<div class="x_panel">

			<!--Encabezado de formulario-->
			<div class="x_title">
				<h2>Creación de turno<small>formulario para creación de nuevos turnos asociados a areas</small></h2>
				<ul class="nav navbar-right panel_toolbox">
				  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				  </li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<!--Contenido de formulario-->
			<div class="x_content">
				<br />
				<form method="POST" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
					{% csrf_token %}

					<!-- Nombre del turno -->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Nombre del turno<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							{{ form.nombre }}
						</div>
					</div>

					<!-- Area de dependencia del turno -->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Area del turno <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							{{ form.area }}
						</div>
					</div>

					<!-- Descripción del turno -->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Descripción del turno <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							{{ form.descripcion }}
						</div>
					</div>

					<!-- Tipo del turno -->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Tipo del turno<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							{{ form.tipo_turno }}
						</div>
					</div>

					<!-- Fecha de inicio del turno -->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Fecha de inicio del turno<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<div class="form-group">
								<div class='input-group date' id='myDatepicker2'>
									<input type='text' class="form-control" name = "fecha_inicio"/>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Hora de inicio del turno -->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Hora de inicio del turno<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<div class="form-group">
								<div class='input-group date' id='myDatepicker3' name = "hora_inicio">
									<input type='text' class="form-control" name="hora_inicio"/>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Duración de horas del turno -->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Duración en horas del turno<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							{{ form.duracion_horas }}
						</div>
					</div>

					<!-- Tipo de continuidad del turno -->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Tipo de continuidad del turno<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							{{ form.tipo_continuidad }}
						</div>
					</div>

					<!-- Fecha fin del turno -->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Fecha de fin del turno<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<div class="form-group">
								<div class='input-group date' id='myDatepicker4'>
									<input type='text' class="form-control" name = "fecha_fin"/>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="ln_solid"></div>
					<div class="item form-group">
						<div class="col-md-6 col-sm-6 offset-md-3">
							<button class="btn btn-primary" type="button">Cancelar</button>
							<input type="submit" class="btn btn-success" value="Grabar" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
	<!-- bootstrap-daterangepicker -->
	<script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
	<script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
	<!-- bootstrap-datetimepicker -->    
	<script src="{% static 'vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
	<script  type="text/javascript">
	$(function () {
				$('#myDatepicker').datetimepicker();
			});
	
	$('#myDatepicker2').datetimepicker({
		format: 'DD/MM/YYYY'
	});

	$('#myDatepicker4').datetimepicker({
		format: 'DD/MM/YYYY'
	});
	
	$('#myDatepicker3').datetimepicker({
		format: 'hh:mm:ss'
	});
	
</script>
{% endblock %}