{% extends 'core/base.html' %}
{% load static %}


{% block static %}
  <link href="{% static 'build/css/my_css.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Lista de turnos{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="x_panel">

      <!--Encabezado del formulario-->	
      <div class="x_title form-inline">
        <h2>TURNOS <small>Listado de los turnos de la empresa</small></h2>
        <div class="ml-auto">
          <a href="{% url 'TurnosCreate' %}" class="btn btn-success">Nuevo turno</a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">


      	<!--tipo de tabla-->
        <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%"  >
          
          <!--encabezados de la tabla-->
          <thead>
            <tr>
              <th>Detalles</th>
              <th>Nombre Turno</th>
              <th>Area</th>
              <th>Fecha inicio</th>
              <th>Tipo</th>
              <th>Cargos</th>
              <th>Opciones</th>
            </tr>
          </thead>

          <!--contenido de la tabla-->
          <tbody>
            {% for turno in turnos_list %}
            <tr>
              <th>
                <div class="my-auto">
                  {% if turno.turno_usuario.exists %}
                  <a href="{% url 'detailTimeTable' turno.pk %}" class="btn btn-primary registro">Ver</a>
                  {% endif %}
                </div>
              </th>
              <td>{{ turno.nombre }}</td>
              <td>{{ turno.area }}</td>
              <td>{{ turno.fecha_inicio|date:"d /M /Y" }}</td>
              <td>
              {% if turno.tipo_continuidad %}
              Permanente
              {% else %}
              Temporal
              {% endif %}
              </td>
              <td>
                {% for detalle in turno.turno_detalle.all %}
                  {{ detalle.cargo.titulo }}: {{ detalle.cantidad}}<br>
                {% endfor %}
              </td>
              <td>
                <div class="my-auto">
                  {% if not turno.turno_usuario.exists %}
                  <a href="{% url 'validateTimeTable' turno.pk %}" class="btn btn-info registro">Generar</a>
                  {% endif %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>

          
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
{% endblock %}