{% extends 'core/base.html' %}
{% load static %}

{% block static %}

{% endblock %}

{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="x_panel">

      <!--Encabezado del formulario-->  
      <div class="x_title form-inline">
        <h3>Turno: {{ turno }}<small class="ml-5">Area: {{ turno.area }}</small></h3>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
            {% if validacion == 0 %}
              <div class="alert alert-danger" role="alert">
                <h2>No se cumplen los requisitos para generar el turno.</h2>
              </div>
            {% else %}
              <div class="alert alert-success" role="alert">
                <h2>Todo correcto, generemos el horario.</h2>
              </div>
            {% endif %}
            </div>      
          </div>
        </div>
        <h2 class="text-center">Requisitos del turno</h2>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="text-center">
              <h2>Los cargos requeridos son: </h2>
              {% for cargo in turno.turno_detalle.all %}
                <b>{{ cargo.cargo.titulo }}</b>: {{ cargo.cantidad }}
                <br>
              {% endfor %}
            </div>      
          </div>
          <div class="col-12 col-md-6">
            <div class="text-center">
              <h2>Personal disponible para los cargos:</h2>
              <div class="clearfix"></div>
                {% for cargo in turno.turno_detalle.all %}
                <b>{{ cargo.cargo.titulo }}</b>
                <br>
                <ul class="list-group">
                  {% for user in cargo.cargo.user_cargo.all %}
  
                    {% if user.user.is_active and not user.user.usuario_turno.exists %}
                      <li class="list-group-item list-group-item-primary" data-toggle="tooltip" data-placement="left" title="Usuario disponible">{{ user }}</li>
                    {% elif user.user.usuario_turno.exists %}
                      <li class="list-group-item list-group-item-warning" data-toggle="tooltip" data-placement="left" title="Usuario con turno asignado">{{ user }}</li>
                    {% else %}
                      <li class="list-group-item list-group-item-secondary" data-toggle="tooltip" data-placement="left" title="Cuenta no activada">{{ user }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
                {% endfor %}
            </div>      
          </div>
          {% if validacion == 1 %}
          <div class="col-8 mx-auto mt-5">
            <a href="{% url 'generateTimeTable' turno.pk %}" class="btn btn-outline-success btn-lg btn-block">Generar Horario</a>
          </div>
          {% else %}
          <div class="col-8 mx-auto mt-5">
            <a href="{% url 'user' %}" class="btn btn-outline-info btn-lg btn-block">Revisemos los usuarios</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}