{% extends 'core/base.html' %}
{% load static %}
{% block static %}
  <!-- My Custom Theme Style -->
  <link href="{% static 'build/css/my_css.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Inicio{% endblock %}
{% block content %}
<!-- page content -->
<div class="">
<div class="page-title">
<div class="title_left">
  <h3>Inicio</h3>
</div>
</div>

<div class="clearfix"></div>

<div class="row">
  <!-- Datos del usuario -->
  <div class="col-md-3 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Mis Datos</h2>
        <ul class="nav navbar-right panel_toolbox">
          <a class="btn btn-primary" href="{% url 'detailUser' request.user.pk %}">Ver</a>  
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <div class="profile_img">
          <div id="crop-avatar">
            <img class="img-responsive avatar-view" src="images/img.jpg" alt="Avatar" title="Change the avatar">
            <div class="ln_solid"></div>
            <div class="form-group row">
              <h3>{{ request.user.get_full_name }}</h3>
              <ul class="list-unstyled user_data">
                <li><i class="fa fa-map-marker user-profile-icon"></i> {{ request.user.profile.direccion }}
                </li>
                <li>
                  <i class="fa fa-briefcase user-profile-icon"></i> {{ request.user.profile.cargo_user.titulo }}
                </li>
                <li class="m-top-xs">
                  <a href="http://www.kimlabs.com/profile/" target="_blank">{{ request.user.email }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Datos del usuario -->
  <!-- Horario con los turnos -->
  <div class="col-md-9 ">
       <div class="x_panel">
          <div class="x_title">
            <h2>Horario</h2>
              <ul class="nav navbar-right panel_toolbox">
                 <a class="btn btn-primary" href="{% url 'TurnosList' %}">Ver</a>  
              </ul>
             <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <div class="table-responsive" >
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Dia Semana</th>
                    <th>Hora inicio</th>
                    <th>Hora de fin</th>
                  </tr>
                </thead>
                <tbody>
                  {% now 'd F Y' as current_date %}
                  {% for dia in horario %}
                  <tr class="{% if current_date == dia.dia_semana|date:'d F Y' %}bg-secondary{% endif %}">
                    <th scope="row">{{dia.dia_semana|date:'l'}}</th>
                    <td>{% if dia.hora_inicio %}
                    {{ dia.hora_inicio }}
                    {% else %}Libre{% endif %}
                    </td>
                    <td>{% if dia.hora_fin %}
                    {{ dia.hora_fin }}
                    {% else %}Libre{% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- /Horario con los turnos -->
</div>
  
<div class="row">
  <!-- Tareas pendientes del usuario -->
  <div class="col-md-4 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tareas Pendientes</h2>
        <ul class="nav navbar-right panel_toolbox">
          <a class="btn btn-primary" href="{% url 'listTareas' %}">Ver</a>  
        </ul>
         <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
          <div class="form-group row">
            {% for solicitud in solicitudes %}
            <div class="col-12">
              <p>
                <button class="btn btn-block {% if solicitud.prioridad == 1 %}
                btn-outline-success
              {% elif solicitud.prioridad == 2 %}
                btn-outline-warning
              {% elif solicitud.prioridad == 3 %}
                btn-outline-danger
              {% endif %}" type="button" data-toggle="collapse" data-target="#collapseExample{{solicitud.pk}}" aria-expanded="false" aria-controls="collapseExample">
                  {{ solicitud.titulo }}
                </button>
              </p>
              <div class="collapse mb-2" id="collapseExample{{solicitud.pk}}">
                <div class="card card-body">
                  {{ solicitud.descripcion|truncatechars:100 }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        <div class="ln_solid"></div>
        </div>
      </div>
  </div>
  <!-- /Tareas pendientes del usuario -->
  <!-- Rendimiento de tareas -->
  <div class="col-md-4">
    <div class="x_panel">
      <div class="x_title">
        <h2>Cambios de Turno</h2>
        <ul class="nav navbar-right panel_toolbox">
          <a class="btn btn-primary" href="{% url 'SolicitudPermisosList' %}">Ver</a>   
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
         <br />
        <div class="ln_solid"></div>
          <div class="form-group row">
            <div class="col-md-9 col-sm-9  offset-md-3">
              
            </div>
          </div>
        </div>
     </div>
  </div>
  <!-- /Rendimiento de tareas -->
  <!-- Turnos disponibles -->
  <div class="col-md-4 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Permisos</h2>
        <ul class="nav navbar-right panel_toolbox">
          <a class="btn btn-primary" href="{% url 'SolicitudPermisosList' %}">Ver</a>   
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <br />
        <div class="ln_solid"></div>
          <div class="form-group row">
             <div class="col-md-9 col-sm-9  offset-md-3">
              
             </div>
          </div>
      </div>
    </div>
  </div>
  <!-- Turnos disponibles -->
</div>

<div class="row">
  <div class="col-md-8 mx-auto">
    {% if tareas %}
    <div class="x_panel">
      <div class="x_title form-inline">
        <h2>Mis tareas pendientes</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-hover table-responsive-sm text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Titulo</th>
              <th>Supervisor</th>
              <th>Responsable</th>
            </tr>
          </thead>
          <tbody>
            {% for tarea in tareas %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ tarea.titulo }}</td>
              <td>{{ tarea.supervisor.get_full_name }}</td>
              <td>{{ tarea.responsable.get_full_name }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if solicitudes %}
    <div class="x_panel">
      <div class="x_title form-inline">
        <h2>Solicitud de tareas</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-hover table-responsive-sm text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Titulo</th>
              <th>Solicitante</th>
              <th>Prioridad</th>
            </tr>
          </thead>
          <tbody>
            {% for solicitud in solicitudes %}
            <tr>
              <th scope="row">
                <div class="my-auto">
                  <a href="{% url 'detailSolicitudTarea' solicitud.slug %}" class="btn btn-primary">Ver</a>
                </div>
              </th>
              <td>{{ solicitud.titulo }}</td>
              <td>{{ solicitud.solicitante.get_full_name }}</td>
              <td>{% if solicitud.prioridad == 1 %}
                Baja
              {% elif solicitud.prioridad == 2 %}
                Media
              {% elif solicitud.prioridad == 3 %}
                Alta
              {% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}