{% extends 'core/base.html' %}
{% load static %}
{% block static %}
  <!-- My Custom Theme Style -->
  <link href="{% static 'build/css/my_css.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Inicio{% endblock %}
{% block content %}
<!-- page content -->
<div class="">
<div class="page-title">
<div class="title_left">
  <h3>Inicio</h3>
</div>
</div>

<div class="clearfix"></div>

<div class="row">
  <!-- Datos del usuario -->
  <div class="col-md-3">
    <div class="x_panel">
      <div class="x_title">
        <h2>Mis Datos</h2>
        <ul class="nav navbar-right panel_toolbox">
          <a class="btn btn-primary" href="{% url 'detailUser' request.user.pk %}">Ver</a>  
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <div class="profile_img">
          <div id="crop-avatar">
            <div class="text-center">
              {% if request.user.profile.avatar %}
              <img class="img-fluid rounded img-thumbnail" src="{{ request.user.profile.avatar.url}}" alt="Avatar">
              {% else %}
              <img class="img-fluid img-circle img-thumbnail" src="{% static 'imgs/no_img.jpg' %}" alt="Avatar">
              {% endif %}
            </div>
            <div class="ln_solid"></div>
            <div class="row"> 
            <div class="form-group row text-left col-6 col-md-12 text-center">
              <h3>{{ request.user.get_full_name }}</h3>
            </div>
            <ul class="list-unstyled user_data col-6 col-md-12">
              <li><i class="fa fa-map-marker user-profile-icon"></i> {{ request.user.profile.direccion }}
              </li>
              <li>
                <i class="fa fa-briefcase user-profile-icon"></i> {{ request.user.profile.cargo_user.titulo }}
              </li>
              <li class="m-top-xs">
                <i class="fa fa-send user-profile-icon"></i>{{ request.user.email }}
              </li>
            </ul>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Datos del usuario -->
  {% now 'Y' as current_year %}
  {% now 'm' as current_month %}
  <!-- Horario con los turnos -->
  <div class="col-md-9 ">
  {% if horario %}
    <div class="x_panel">
      <div class="x_title">
        <h2>Horario</h2>
          <ul class="nav navbar-right panel_toolbox">
              <a class="btn btn-primary" href="{% url 'myTimeTable' current_year current_month %}">Ver</a>  
          </ul>
          <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <div class="table-responsive" >
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Dia Semana</th>
                <th>Hora inicio</th>
                <th>Hora de fin</th>
              </tr>
            </thead>
            <tbody >
              {% now 'd F Y' as current_date %}
              {% for dia in horario %}
              <tr class="{% if dia.trabajado != 6 %}bg-success
              {% elif current_date == dia.dia_semana|date:'d F Y' %}bg-secondary{% endif %}"{% if dia.trabajado != 6 %}data-toggle="tooltip" data-placement="top" title="Permiso aprobado"{% endif %}>
                <th scope="row">{{dia.dia_semana|date:'l d F Y'}}</th>
                <td>{% if dia.hora_inicio %}
                {{ dia.hora_inicio }}
                {% else %}Libre{% endif %}
                </td>
                <td>{% if dia.hora_fin %}
                {{ dia.hora_fin }}
                {% else %}Libre{% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% else %}
    <div class="x_panel">
      <div class="x_title">
        <h2>Sin turnos asignados</h2>
        <div class="clearfix"></div>
      </div>
    </div>
  {% endif %}
  </div>
  <!-- /Horario con los turnos -->
</div>
  
<div class="row justify-content-center">
  {% if solicitudes %}
  <!-- Solicitudes de tareas pendientes -->
  <div class="col-md-4 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Solicitudes Tareas</h2>
        <ul class="nav navbar-right panel_toolbox">
          <a class="btn btn-primary" href="{% url 'listTareas' %}">Ver</a>  
        </ul>
         <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
          <div class="form-group row">
            {% for solicitud in solicitudes %}
            <div class="col-12">
              <p>
                <button class="btn btn-block {% if solicitud.prioridad == 1 %}
                btn-outline-success
              {% elif solicitud.prioridad == 2 %}
                btn-outline-warning
              {% elif solicitud.prioridad == 3 %}
                btn-outline-danger
              {% endif %}" type="button" data-toggle="collapse" data-target="#solicitud{{solicitud.pk}}" aria-expanded="false" aria-controls="collapseExample">
                  {{ solicitud.titulo }}
                </button>
              </p>
              <div class="collapse mb-2" id="solicitud{{solicitud.pk}}">
                <div class="card card-body">
                  {{ solicitud.descripcion|truncatechars:100 }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        <div class="ln_solid"></div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- /Solicitudes de tareas pendientes -->

  {% if soli_permisos %}
  <!-- Sollicitudes de permisos pendientes -->
  <div class="col-md-4 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Solicitudes Permisos</h2>
        <ul class="nav navbar-right panel_toolbox">
          <a class="btn btn-primary" href="{% url 'SolicitudPermisosList' %}">Ver</a>  
        </ul>
         <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
          <div class="form-group row">
            {% for solicitud in soli_permisos %}
            <div class="col-12">
              <p>
                <button class="btn btn-block btn-outline-warning" type="button" data-toggle="collapse" data-target="#solipermiso{{solicitud.pk}}" aria-expanded="false" aria-controls="collapseExample">
                  {{ solicitud.usuario.get_full_name }}
                </button>
              </p>
              <div class="collapse mb-2" id="solipermiso{{solicitud.pk}}">
                <div class="card card-body">
                  <p>{{ solicitud.titulo }}</p>
                  {{ solicitud.comentario|truncatechars:100 }}
                  
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        <div class="ln_solid"></div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- /solicitudes de permisos pendientes-->

  {% if tareas %}
  <!-- Tareas pendientes del usuario -->
  <div class="col-md-4 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tareas Pendientes</h2>
        <ul class="nav navbar-right panel_toolbox">
          <a class="btn btn-primary" href="{% url 'listTareas' %}">Ver</a>  
        </ul>
         <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
          <div class="form-group row">
            {% for tarea in tareas %}
            <div class="col-12">
              <p>
                <button class="btn btn-block {% if tarea.prioridad == 1 %}
                btn-outline-success
              {% elif tarea.prioridad == 2 %}
                btn-outline-warning
              {% elif tarea.prioridad == 3 %}
                btn-outline-danger
              {% endif %}" type="button" data-toggle="collapse" data-target="#tarea{{tarea.pk}}" aria-expanded="false" aria-controls="collapseExample">
                  {{ tarea.titulo }}
                </button>
              </p>
              <div class="collapse mb-2" id="tarea{{tarea.pk}}">
                <div class="card card-body">
                  {{ tarea.descripcion|truncatechars:100 }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        <div class="ln_solid"></div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- /Tareas pendientes del usuario -->

  <!-- Permisos aprobados -->
  {% if permisos %}
  <div class="col-md-4 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Permisos</h2>
        <ul class="nav navbar-right panel_toolbox">
          <a class="btn btn-primary" href="{% url 'SolicitudPermisosList' %}">Ver</a>   
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <br />
        <div class="form-group row">
           {% for permiso in permisos %}
            <div class="col-12">
            <p>
              <button class="btn btn-block btn-outline-info" type="button" data-toggle="collapse" data-target="#permiso{{permiso.pk}}" aria-expanded="false" aria-controls="collapseExample">
                {{ permiso.usuario.get_full_name }}
              </button>
            </p>
            <div class="collapse mb-2" id="permiso{{permiso.pk}}">
              <div class="card card-body">
                {{ permiso.fecha_inicio|date:'l d/ F/ Y' }}
                {% if permiso.dias_permiso > 1 %}
                <p>Dias permiso: {{ permiso.dias_permiso }}</p>
                {% endif %}
              </div>
            </div>
            </div>
          {% endfor %}
        </div>
        <div class="ln_solid"></div>
      </div>
    </div>
  </div>
  <!-- Permisos aprobados -->
  {% endif %}

  <!-- El tiempo -->
  <div class="col-md-4">
    <div class="x_panel">
      <div class="x_title">
        <h2>Daily active users <small>Sessions</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
              </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-sm-12">
            <div class="temperature"><b>Monday</b>, 07:30 AM
              <span>F</span>
              <span><b>C</b></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="weather-icon">
              <canvas height="84" width="84" id="partly-cloudy-day"></canvas>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="weather-text">
              <h2>Texas <br><i>Partly Cloudy Day</i></h2>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="weather-text pull-right">
            <h3 class="degrees">23</h3>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row weather-days">
          <div class="col-sm-2">
            <div class="daily-weather">
              <h2 class="day">Mon</h2>
              <h3 class="degrees">25</h3>
              <canvas id="clear-day" width="32" height="32"></canvas>
              <h5>15 <i>km/h</i></h5>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="daily-weather">
              <h2 class="day">Tue</h2>
              <h3 class="degrees">25</h3>
              <canvas height="32" width="32" id="rain"></canvas>
              <h5>12 <i>km/h</i></h5>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="daily-weather">
              <h2 class="day">Wed</h2>
              <h3 class="degrees">27</h3>
              <canvas height="32" width="32" id="snow"></canvas>
              <h5>14 <i>km/h</i></h5>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="daily-weather">
              <h2 class="day">Thu</h2>
              <h3 class="degrees">28</h3>
              <canvas height="32" width="32" id="sleet"></canvas>
              <h5>15 <i>km/h</i></h5>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="daily-weather">
              <h2 class="day">Fri</h2>
              <h3 class="degrees">28</h3>
              <canvas height="32" width="32" id="wind"></canvas>
              <h5>11 <i>km/h</i></h5>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="daily-weather">
              <h2 class="day">Sat</h2>
              <h3 class="degrees">26</h3>
              <canvas height="32" width="32" id="cloudy"></canvas>
              <h5>10 <i>km/h</i></h5>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Tiempo -->
</div>

{% endblock %}

{% block script %}
  <!-- Skycons -->
  <script src="{% static 'vendors/skycons/skycons.js' %}"></script>
{% endblock %}