{% extends 'core/base.html' %}
{% load static %}
{% block static %}
  <link href="{% static 'build/css/my_css.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="animated flipInY col-lg-5 col-md-5 col-sm-6  ">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-comments-o"></i>
      </div>
      <div class="count">Area:</div>

      <h3>{{ area.nombre }}</h3>
      <div class="count"><small>Encargado</small></div>
      <p style="font-size: 1rem;">{{ area.boss_user.get_full_name }}</p>
    </div>
  </div>
</div>
<div class="row justify-content-center">  
{% for cargo in cargos %}
  <div class="col-md-3 widget widget_tally_box">
    <div class="x_panel min_300">
      <div class="x_content">

          <ul class="widget_profile_custom">
            <p>{{ cargo.titulo }}</p>
          </ul>
        {% if cargo.user_cargo.all%}
        <h3 class="text-center">Personal</h3>
        {% else %}
        <h3 class="text-center">Sin personal asignado al area</h3>
        {% endif %}

        <div class="justify-content-center">
          <ul class="list-inline text-center">
          {% for usuario in cargo.user_cargo.all %}
            <div class="{% if forloop.first %}border-top{%endif%} border-bottom">{{usuario}}</div>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
  <br>
{% endblock %}