{% extends 'core/base.html' %}
{% load static %}
{% block static %}
{% endblock %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="animated flipInY col-lg-5 col-md-5 col-sm-6  ">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-comments-o"></i>
      </div>
      <div class="count">Area:</div>

      <h3>{{ area.nombre }}</h3>
      <p style="font-size: 1rem;">{{ area.boss_user.get_full_name }}</p>
    </div>
  </div>
</div>
<div class="row">  
{% for cargo in cargos %}
  <div class="col-md-3 widget widget_tally_box">
    <div class="x_panel fixed_height_390">
      <div class="x_content">

        <div class="flex">
          <ul class="widget_profile_box">
            <p style="font-size: 1.3rem;">{{ cargo.titulo }}</p>
          </ul>
        </div>

        <h3 class="name">Personal</h3>

        <div class="flex">
          <ul class="list-inline count2">
          {% for usuario in cargo.user_cargo.all %}
            <div class="{% if not forloop.last %}border-bottom{%endif%}">{{usuario}}</div>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
  <br>
{% endblock %}