{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">

      <!--Sección de encabezado-->
      <div class="x_title">
        <h2>Modificacion solicitud de tarea <small>Detalle la solicitud</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>


      <div class="x_content">
        <br />
        <form method="POST" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">
          {% csrf_token %}

          <!--Campo título-->
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Nombre de la solicitud <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ form.titulo }}
            </div>
          </div>

          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Area de destino <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ form.area_destino }}
            </div>
          </div>

          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Prioridad <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ form.prioridad }}
            </div>
          </div>

          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Imagen de referencia <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ form.img_referencia }}
            </div>
          </div>

          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Descripcion <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ form.descripcion }}
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-md-3">
              <a href="{% url 'listSolicitudTarea' %}" class="btn btn-primary">Cancelar</a>
              <input type="submit" class="btn btn-success" value="Grabar" />
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}