{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>crear tarea <small>detalle de solicitud de tarea</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
          {% csrf_token %}
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Título de la tarea <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <input type="text" name="titulo" maxlength="100" class="form-control" id="id_titulo" required="" value="{{ solicitud.titulo }}">
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Area solicitud <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <h5>El area seleccionada en la solicitud es <b>{{ solicitud.area_destino }}</b></h5>
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Responsable<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <select name="responsable" id="id_responsable" class="form-control">
                <option value="" selected="">---------</option>
                {% for user in responsable %}
                  <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="item form-group">
            <div class="col-6 mx-auto">
              <h5>Si el area no corresponde, utilize esta opcion. y seleccione el responsable de la lista</h5>
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Area
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ form.area_destino }}
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Responsable
            </label>
            <div class="col-md-6 col-sm-6 ">
              <select name="responsable_2" id="id_responsable" class="form-control">
                <option value="" selected="">---------</option>
                {% for trabajador in trabajadores %}
                  <option value="{{ trabajador.pk }}">{{ trabajador.get_full_name }} - {{ trabajador.profile.cargo_user.area }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Prioridad <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <select name="prioridad" class="form-control" id="id_prioridad" required="">
                <option value="1" {% if solicitud.prioridad == 1 %}selected{% endif %}>Baja</option>
                <option value="2" {% if solicitud.prioridad == 2 %}selected{% endif %}>Media</option>
                <option value="3" {% if solicitud.prioridad == 3 %}selected{% endif %}>Alta</option>
              </select>
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Descripción <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <textarea name="descripcion" cols="8" class="form-control" id="id_descripcion" rows="10" required="">{{ solicitud.descripcion }}</textarea>
            </div>
          </div>
          <div class="item form-group">
            <div class="mx-auto">
              {{ form.descripcion.help_text }}
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="mx-auto">
              <button class="btn btn-primary mr-4" type="button">Cancelar</button>
              <input type="submit" class="btn btn-success" value="Siguiente" />
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}