{% extends 'core/base.html' %}
{% load static %}
{% block static %}
  <!-- My Custom Theme Style -->
  <link href="{% static 'build/css/my_css.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="x_panel">
      <div class="x_title form-inline">
        <h2>Areas <small>Listado de las areas de la empresa</small></h2>
        <div class="ml-auto">
          <a href="{% url 'newArea' %}" class="btn btn-success">Nueva Area</a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-hover table-responsive-sm text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Jefe</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for area in area_list %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ area.nombre }}</td>
              <td>{{ area.boss_user.get_full_name }}</td>
              <td>
                <div class="my-auto">
                  <a href="{% url 'updateArea' area.id %}" class="btn btn-warning registro">Modificar</a>
                  <div class="d-block d-md-none w-100"></div>
                  <a href="{% url 'deleteArea' area.id %}" class="btn btn-danger registro">Eliminar</a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}