{% extends 'core/base.html' %}
{% load static %}
{% block title %}Contraseña cambiada{% endblock %}
{% block content %}
<div class="row mt-3 mb-5">
  <div class="col-md-9 mx-auto text-center">
    <div class="x_panel">
      <div class="x_title">
        <h3 class="mb-5">Contraseña cambiada correctamente</h3>
      </div>
      <div class="x_content">
        <h5 class="mb-5">Vuelva a su perfil</h5>
        <a href="{% url 'detailUser' request.user.pk %}" class="btn btn-outline-success btn-block">click aqui</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}