{% extends 'core/base.html' %}
{% load static %}
{% block static %}
  
{% endblock %}
{% block title %}Cambio de contraseña{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Cambio de contraseña</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <h6 class="mb-4">Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</h6>
        <form method="POST" id="demo-form2" class="form-horizontal form-label-left">
          {% csrf_token %}
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Contraseña antigua <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <input type="password" name="old_password" autofocus="" id="id_old_password"class="form-control" placeholder="Contraseña antigua">
            </div>
          </div>
          <div class="col-12">
            {{form.old_password.errors}}
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Nueva Contraseña <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="Contraseña nueva">
            </div>
          </div>
          <div class="col-12">
            {{form.new_password1.errors}}
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Reingrese Contraseña <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)">
            </div>
          </div>
          <div class="col-12">
            {{form.new_password2.errors}}
          </div>
          
          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="mx-auto">
              <a class="btn btn-primary" href="{% url 'detailUser' request.user.pk %}">Cancelar</a>
              <input type="submit" class="btn btn-success" value="Cambiar Contraseña" id="btn_siguiente"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
