{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Registro de usuarios <small>Seleccione el tipo y area de este negro</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
          {% csrf_token %}
          <div hidden="True">
              <input type="password" name="password1" value="suger1234">
              <input type="password" name="password2" value="suger1234">
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Tipo de usuario <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ form.type_user }}
            </div>
          </div>
          <div class="item form-group">
            <div class="mx-auto">
              {{ form.type_user.help_text }}
            </div>
          </div>
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Area del usuario <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ form.area_user }}
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="mx-auto">
              <button class="btn btn-primary mr-4" type="button">Cancelar</button>
              <input type="submit" class="btn btn-success" value="Siguiente" />
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}