{% extends 'core/base.html' %}
{% load static %}
{% block static %}
{% endblock %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row mb-4">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{ user.get_full_name }}</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row justify-content-left">
          <div class="col-md-3 col-xd-3">
            <div class="product-image">
              <img src="{% static 'imgs/img.jpg' %}" style="height: 300px; width: auto;">
            </div>
          </div>
          <div class="col-md-3 col-xs-12">
            <div class="col-12">
              <h3 class="prod_title">Direccion</h3>
              <p>{{ user.profile.direccion }}</p>
            </div>
            <div class="col-12 ">
              <h3 class="prod_title">Telefono</h3>
              <p>{{ user.profile.telefono }}</p>
            </div>
            <div class="col-12">
            <h3 class="prod_title">Correo</h3>
            <p>{{ user.email }}</p>
          </div>
          </div>
          <div class="col-md-3 col-xs-12">
            <div class="col-12">
            <h3 class="prod_title">Tipo de usuario</h3>
            <p>
              {% if user.profile.type_user == 1 %}
                Administrador
              {% elif user.profile.type_user == 2 %}
                Supervisor
              {% elif user.profile.type_user == 3 %}
                Trabajador
              {% endif %}
          </p>
          </div>
          <div class="col-12">
            <h3 class="prod_title">Area</h3>
            <p>{{ user.profile.cargo_user.area.nombre }}</p>
          </div>
          <div class="col-12">
            <h3 class="prod_title">Estado</h3>
            <p>{% if user.is_active %}Activo{% else %}Deshabilitado{% endif %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}