{% extends 'core/base.html' %}
{% load static %}
{% block static %}
	<!-- My Custom Theme Style -->
	<link href="{% static 'build/css/my_css.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Creación de sub área{% endblock %}
{% block content %}

<div class="clearfix"></div>

<div class="row">
	<div class="col-md-12 col-sm-12 ">
		<div class="x_panel">

			<!--título del template, barra de colapse-->
			<div class="x_title">

				<h2>Sub Areas <small>creación de sub-area</small></h2>

				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu" role="menu">
							<li><a class="dropdown-item" href="#">Settings 1</a>
							</li>
							<li><a class="dropdown-item" href="#">Settings 2</a>
							</li>
						</ul>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a>
					</li>
				</ul>

				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<br />
				<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

					{% csrf_token %}

					<!--Caja de texto de nombre-->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Nombre de la sub-area <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							{{ form.nombre }}
						</div>
					</div>

					<!--Select de área-->
					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Area perteneciente <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							{{ form.area }}
						</div>
					</div>

					<!--TextArea Descripción subarea-->
					<div class="item form-group">
						<label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Detalle de sub-area / Initial</label>
						<div class="col-md-6 col-sm-6 ">
							{{ form.detalle_subarea }}
						</div>
					</div>

					<div class="ln_solid"></div>
					<div class="item form-group">
						<div class="col-md-6 col-sm-6 offset-md-3">
							<button class="btn btn-primary" type="button">Cancel</button>
							<button class="btn btn-primary" type="reset">Reset</button>
							<button type="submit" class="btn btn-success">Submit</button>
							<input type="submit" class="btn btn-success" value="Grabar" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}